/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #086375; 
  color: #ffffff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  text-align: center;
}

.header {
  width: 100%; /* Use 100% to avoid overflow */
  padding: 20px 50px; /* Reduced padding for a cleaner layout */
  display: flex;
  justify-content: space-between; /* Spread items across the entire width */
  align-items: center;
  background-color: #CE5374; /* Add background if needed */
  border-bottom: 1px solid #800020; /* Line under the header */
  box-sizing: border-box;
  position: fixed; /* Fixed header to stick to top */
  top: 0;
  left: 0;
  z-index: 100; /* Ensures header stays on top of other elements */
}

.nav-links {
  display: flex;
  justify-content: center; /* Centers navigation links horizontally */
  gap: 30px;

}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff; /* Burgundy text */
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #5f0016; /* Darker burgundy on hover */
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.main-logo {
  width: 120px;
  margin-bottom: 20px;
}

.brand-name {
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  color: #9C0D38; /* Burgundy text */
}

.primary-button {
  padding: 15px 30px;
  background-color: #ffffff; /* Burgundy button */
  color: #00274C;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;
  outline: none; /* Remove the default blue focus outline */
}

.primary-button:hover {
  background-color: #5f0016; /* Darker burgundy on hover */
  opacity: 0.9; /* Adds a fade-in effect on hover */
}

.primary-button:focus {
  background-color: #5f0016; /* Similar color for focus */
  outline: none; /* Custom focus style (removes blue outline) */
}

.primary-button:active {
  transform: scale(0.98); /* Adds a slight press effect when clicked */
  opacity: 0.8; /* Makes the button slightly fade when clicked */
}

/* Removing focus blue outline and adding custom styles */
.primary-button:focus-visible {
  outline: none;
  opacity: 0.9;
}



.container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  transition: left 0.02s linear; /* Smooth animation */
}
